<div class="row">
     <div class="col-xs-12 col-sm-6 lower">
        <div class="card">
            <div class="card-block">
                <div class="col-xs-12 col-sm-6 lower">
                    <small>Enrollment Goal: <span class="num-right"><span class="progress-blue">400</span>/500</span></small>
                    <div class="progress-block">                                               
                            <div class="progress-static">
                                <div class="progress-meter" data-value="84"></div>
                            </div>
                    </div>
                </div>              
            </div>              
        </div>
    </div>
</div>
