<section class="sidenav-content">
        <a href="#" class="navlink active">
                <clr-icon shape="home"></clr-icon> Home
        </a>
        <a href="#" class="navlink">
                        <clr-icon shape="id-badge"></clr-icon> Patients
        </a>
        <a href="#" class="navlink">
                <clr-icon shape="file-group"></clr-icon> Audit Trail
        </a>
        <a href="#" class="navlink">
                <clr-icon shape="user"></clr-icon>  Users
        </a>
        <a href="#" class="navlink">
                <clr-icon shape="world"></clr-icon> Sites
        </a>
        <a href="#" class="navlink">
                <clr-icon shape="cog"></clr-icon> Settings
        </a>
</section>
